*{
    margin: 0px;
    padding: 0px;
}
.container{
    min-width: 100%;
    margin: auto;
}
.span-title{
    color: red;
}
/* navbar section start here */

.head{
     background-color: gray;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.logo img{
    padding: 10px;
}
.nav-bar>ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-bar li{
    list-style: none; 
    font-size: 20px;
    padding: 10px;   
}
.nav-bar li a{
    text-decoration: none;
    color: black;
}
/* navbar style ends here */
.banner-container{
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url('asset/image/background.jpg'),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}
.banner{
    text-align: center;
}
.title{
    color: white;
    padding: 10px;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.banner-description{
    color: white;
    width: 50%;
    margin: auto;
    font-size: 20px;
}
.banner-btn-1{
    padding: 20px 30px;
    background-color: red;
    border: none;
    border-radius: 10px;
    margin: 10px;
}
.banner-btn-2{
    padding: 20px 30px;
    background-color: white;
    border: none;
    border-radius: 10px;
    margin: 10px;
}
/* Banner section start here */